img {
    width: 30%;
    float:left;
    margin: 1.66%;
}

h1 {
    margin: 1.66%;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 2px solid red;
    width: 30%;
    padding-bottom: 20px;
}
