body {
    background:  #232323;
}

.square {
    width: 30%;
    background: white;
    float: left;
    margin: 1.66%;
    padding-bottom: 30%;
}

#container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    color: white;
}
