
/* p {
    border: 2px solid blue;
    width: 200px;
    height: 200px;
    width: 50%; stretches with the screen
    padding-left: 50px;
    margin: 100px;
    margin: 20px 40px 500px 100px; /top, right, bottom, left
    margin: 0 auto 0 auto; /top, right, bottom, left
    margin: 0 auto; top/bottom is zero, left/right auto
} */

h2 {
    text-align: center;
}

table {
    margin: auto;
}

tr {
    border: 2px solid black;
}

td {
    width: 100px;
    height: 100px;
}

.vertical {
    border-left:  2px solid black;
    border-right: 2px solid black;
}

.horizontal {
    border-top:  2px solid black;
    border-bottom: 2px solid black;
}
